/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: "Proxima Nova";
}

#hire_li {
  background-color: #FFB300;
}

#job-index-box *{
  color: #ECEFF1;
}
#job-index-box-heading{
  font-size: 15px;
  padding-bottom: 0px;
  border-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607d8b+0,78909c+100 */
  background: #607d8b; /* Old browsers */
  background: -moz-linear-gradient(top,  #607d8b 0%, #78909c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#607d8b), color-stop(100%,#78909c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #607d8b 0%,#78909c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #607d8b 0%,#78909c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #607d8b 0%,#78909c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #607d8b 0%,#78909c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607d8b', endColorstr='#78909c',GradientType=0 ); /* IE6-9 */
}
#job-index-box-body{
  padding-top: 0px;
  padding-bottom: 5px;
  border-top: 0px;
  background-color: #78909C;
}
#job-index-box-footer{
  font-size: 10px;
  padding-top: 0px;
  border-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#78909c+0,607d8b+100 */
  background: #78909c; /* Old browsers */
  background: -moz-linear-gradient(top,  #78909c 0%, #607d8b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78909c), color-stop(100%,#607d8b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #78909c 0%,#607d8b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #78909c 0%,#607d8b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #78909c 0%,#607d8b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #78909c 0%,#607d8b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78909c', endColorstr='#607d8b',GradientType=0 ); /* IE6-9 */
}
#job-index-box-price{
  color: #FFC107;
  font-size: 40px;
}
#job-index-box-favorite{
  position: relative;
  left: 170px;
  top: -40px;
}
#job-index-box-footer .glyphicon-map-marker{
  color: #E57373;
}

.job-show-container {
  margin-top: 20px;
}
.job-head-section {
  margin-bottom: 20px;
}
.job-title {
  margin-top: 10px;
  margin-bottom: 0px;
}
.job-byline{
  color: gray;
}
.job-byline-dash{
  margin-left: 5px;
}
.job-edit-button{
  margin-top: 10px;
}
.job-body-information{
  margin-left: 40px;
  margin-top: -20px;
}
.job-body-information .list-group .list-group-item{
  margin-top: 10px;
  border-bottom: 1px solid gray;
}
.job-body-information .list-group .list-group-item .list-group-content{
  color: gray;
  margin-bottom: 10px;
}
.job-body-description pre{
  font-size: 15px;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.list-body-information-price{
  color: #FFA000;
  font-size: 30px;
}