/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pagedown_bootstrap";

body * {
  //font-family: Georgia, Serif;
  font-family: "Century Gothic", sans-serif;
}

/*****************
 ****  NAVBAR ****
 *****************/
#hire_li {
  background-color: #FFB300;
}

/*****************
 *** JOB INDEX ***
 *****************/
.job-index-title-image{
  margin-bottom: 20px;
}
.job-index-city-tab li > a{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.job-index-container{
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#job-index-box{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -25px;
}
#job-index-box-group{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(240, 240, 240)),
    color-stop(0.5, rgb(255, 255, 255)),
    color-stop(1, rgb(240, 240, 240))
  );
  background-image: -o-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
  background-image: linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(240, 240, 240) 100%);
}
#job-index-box-heading{
  color: #009688;
  font-size: 15px;
}
#job-index-box-body{
  padding-top: 0px;
  padding-bottom: 5px;
}
#job-index-box-footer{
  font-size: 10px;
  margin-bottom: -5px;
}
#job-index-box-body i {
  color: #795548;
  font-size: 20px;
}
#job-index-box-body span {
  color: #795548;
  font-size: 15px;
  margin-left: -10px;
}
#job-index-box-price{
  color: #FFC107;
  font-size: 40px;
  margin-left: -20px;
}
#job-index-box-footer i {
  color: #E57373;
}
#job-index-box-footer span{
  color: #795548;
  margin-left: -10px;
}
#job-index-box-favorite{
  position: relative;
  left: 100px;
  top: -50px;
}
#job-index-box-external-link{
  color: #795548;
  position: relative;
  left: 0px;
  top: -60px;
}
.o-modal-dialog{
  width: 50%;
  margin: 150px auto;
}
.o-modal-content{
  padding: 15px;
  border-radius: 5px;
  background-color: #eeeeee;
}

/*****************
 *** JOB  FORM ***
 *****************/
#job-form-inputs.form-inputs .affix{
  top: 25px;
}
#job-form-inputs{
  margin-top: 20px;
  margin-left: 50px;
}
#job-form-actions{
  margin-top: 15px;
  margin-left: 30px;
}
#job_title{
  font-size: 18px;
  font-weight: bold;
}
#wmd-help-button-description{
  background-color: #607D8B;
}

/*****************
 *** JOB  SHOW ***
 *****************/
#job-index-title-image{
  display:auto;
  max-width: 100%;
}
.job-show-container {
  margin-top: 20px;
}
.job-head-section {
  margin-bottom: 20px;
}
.job-title {
  margin-top: 10px;
  margin-bottom: 0px;
}
.job-byline{
  color: gray;
}
.job-byline-dash{
  margin-left: 5px;
}
.job-edit-button{
  margin-top: 10px;
}
.job-body-information{
  margin-left: 30px;
  margin-top: -20px;
}
.job-body-information .affix{
  top: 25px;
}
.job-body-information .list-group .list-group-item{
  margin-top: 10px;
  border-bottom: 1px solid gray;
}
.job-body-information .list-group .list-group-item .list-group-content{
  color: gray;
  margin-bottom: 10px;
}
.job-body-description pre{
  font-size: 15px;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.job-body-description .panel-danger .panel-heading h4{
  margin: 0px;
}
.job-body-description .panel-danger .panel-heading{
  background-color: #E57373;
}
.job-body-description .panel-danger .panel-body{
  color: #BF360C;
  background-color: #EEEEEE;
}
.list-body-information-price{
  color: #FFA000;
  font-size: 30px;
}