/**************************
 **** PRIVACY & POLICY ****
 **************************/
.last-update{
  vertical-align: top !important;
  position: relative;
  left: -9px;
}
article.well{
  margin-bottom: 50px !important;
  h4{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #009688;
  }
  p{
    padding-left: 30px;
    padding-right: 30px;
  }
  ol{
    padding-left: 80px;
    padding-right: 50px;
  }
}
