/**************************
 ********* NAVBAR *********
 **************************/
#oPartTime-navbar-landing{
  padding-top: 20px;
  background-color: rgba(255,255,255,0);
  transition: padding-top, background-color 1s ease-out;
}
.oPartTime-navbar-landing{
  padding-top: 0px !important;
  background-color: #009688 !important;
  opacity: .85;
}
.landing-sign-up{
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  padding: 10px 15px !important;
  margin: 10px auto;
  transition: border-width, color, transform 0.3s ease;
  &:hover{
    background-color: rgba(255,255,255,0);
    color: white !important;
    border-color: rgba(255,255,255,0.65);
    transform: scale(1.1);
  }
}
.landing-log-in{
  transition: color, transform 0.3s ease;
  &:hover{
    color: white !important;
    transform: scale(1.1);
  }
}

/******************
 ****  FOOTER *****
 ******************/
.footer-startup{
  background: transparent !important;
  border-top: none !important;
  box-shadow: none !important;
  clear: both;
}

/**************************
 ****** STARTUP PAGE ******
 **************************/
.oparttime-landing-header{
  min-height: 100vh;
  background: linear-gradient(to top, rgb(0, 150, 136) 0%,rgba(123,209,160,0.90) 100%);
}
.oparttime-landing-container{
  height: 100vh;
  padding: 24vh 30px;
  @media screen and (max-width: 768px){
    padding: 20vh 10px;  
  }
  h1, h2, h3, h4, h5{
    color: white;
  }
}
.oparttime-landing-img{
  width: 70%;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}
.btn-findjobs{
  color: white !important;
  border-radius: 10px !important;
  
  transition: transform 0.3s ease !important;
  &:hover{
    transform: scale(1.1);
  }
}

/**************************
 ***** TYPEDJS CURSOR *****
 **************************/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 
/**************************
 **** PRIVACY & POLICY ****
 **************************/
.last-update{
  vertical-align: top !important;
  position: relative;
  left: -9px;
}
article.well{
  margin-bottom: 50px !important;
  h4{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #009688;
  }
  p{
    padding-left: 30px;
    padding-right: 30px;
  }
  ol{
    padding-left: 80px;
    padding-right: 50px;
  }
}

/***************
 **** ABOUT ****
 ***************/
.author-avatar-bar{
  text-align: right;
  margin-top: 15%;
  position: relative;
  right: 20px;
  .author-avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
    position: relative;
    bottom: -35px;
  }
  .author-avatar-oa{
    z-index: 9999;
    right: -30px;
    
    transition: z-index, transform, box-shadow 0.3s ease;
    &:hover{
      z-index: 9999;
      transform: scale(1.05);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .author-avatar-aiueoH{
    transition: z-index, transform 0.3s ease;
    &:hover{
      z-index: 9999;
      transform: scale(1.05);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
.about-article{
  padding: 1px 10px 19px 10px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: 0;
  h3{
    color: #009688;
    margin: 25px auto 20px auto;
  }
  p{
    margin-top: 25px;
  }
}

/*********************
 **** ANIMATE.CSS ****
 ********************/
.fadeInUp{
  opacity: 0;
  &.in-view {
    animation: fadeInUp .7s ease-in both;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.bounceInLeft {
  opacity: 0;
  &.in-view {
    animation: bounceInLeft .7s ease-in both;
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}